/* BOOTSRAP OVERRIDES */
.row {
    padding: 10px;
}

h3 {
    font-weight: 500;
}

.list-group-item {
    padding: 5px;
    font-weight: 700px;
    display: block;
    border: none;
}
.list-group-item:hover {
    border: solid grey 1px;
    border-radius: 5px;
}

.btn {
    padding: 4px 6px; 
    font-weight: 600; 
    font-size: 12px;
}

/* END */

/* ID */
#db-list li a{
    color: black;
}

#db-list {
    max-width: 500px;
    width: 100vw;
}

#db-list li #drop-btn, #db-list li #query-join-btn {
    float: right;
    color: white;
    margin-left: 5px;
}
